/* CSS Document */
@import url("/assets/css/fonts.css");


body {
	background: #f3f6f7;
}
.row {
	max-width:980px;	
}

header {
	background:url(/assets/images/headerBg.jpg);
	border-bottom:1px solid #dedfdf;
	padding-top:1em;
	padding-bottom:1em;
	height:80px;
}

header img {
	max-width:250px;	
}

header ul {
	margin:0;
	padding:0;
	padding-top:.5em;
}

header ul li {
	list-style:none;
	display:inline-block;
	margin-left:1em;
}

header ul li a {
	font-family: 'AvenirLTStd-Heavy';
	text-transform:uppercase;
	font-size:1em;
	color:#62bf9f;
	padding:.5em;
	border-radius:.2em;
	
}

header ul li a:hover,  header ul li a.current{
	color:#FFF;
	background:#62bf9f;
}


section.main {
	background:url(/assets/images/mainBg.jpg) repeat-x;
	border-top:1px solid #FFF;
	border-bottom:1px solid #FFF;
	padding-bottom:2em;
}
.pageTitle {
	padding-top:30px;	
}
.pageTitle p {
	font-family: 'AvenirLTStd-LightOblique';
	font-size:1.9em;
	line-height:1.3em;
}

.pageTitle p span{
	font-family: 'AvenirLTStd-HeavyOblique';
}

.featuresList h3 {
	font-family: 'Avenir-Black';
	font-size:1.250em;
	color:#3fb58e;
	text-transform:uppercase;
}

.featuresList ul {
	margin:0;
	padding:0;
	margin-top:1em;
}

.featuresList ul li {
	margin:0;
	padding:0;
	list-style:none;
	font-family: 'AvenirLTStd-Book';
	background:url(/assets/images/checkMark.png) left 8px no-repeat;
	font-size:1em;
	padding-left:1.7em;
	color:#333;
	margin-bottom:1em;
}

.featuresRow {
	padding-top:30px;
}

.formRow h4{
	font-family: 'Avenir-MediumOblique';
	font-size:1.250em;
	color:#333;	
}

.formRow h4 span {
	font-family: 'AvenirLTStd-BlackOblique';
	color:#316a88;
}

.formWrap {
	background:#3fb58e;
	border-radius:.3em;
	padding:1em;
	border:1px solid #379e7c;
	padding-bottom:0;
}
.formWrap p {
	color:#FFF;
	font-family: 'Avenir-Medium';
	font-size:1.250em;	
}

.formWrap p span {
	font-family: 'AvenirLTStd-Heavy';
}

.formWrap form {
	margin:0;	
}
::-webkit-input-placeholder {
   color: #999999;
   font-family: 'AvenirLTStd-LightOblique';
}

:-moz-placeholder { /* Firefox 18- */
  color: #999999;
  font-family: 'AvenirLTStd-LightOblique';
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #999999;
  font-family: 'AvenirLTStd-LightOblique';
}

:-ms-input-placeholder {  
   color: #999999;
   font-family: 'AvenirLTStd-LightOblique';
}

.formWrap input[type=text] {
	border-radius:.2em;
	border:1px solid #379e7c;
	height:50px;
}
.formWrap .button {
	padding:.5em;	
	margin-top:.3em;
	background:#edc053;
	width:300px;
	border:1px solid #cba447;
	border-radius:.2em;
	color:#a37300;
	text-transform:uppercase;
	font-family: 'Avenir-Black';
	font-size:1.375em;
	
}

footer {
	background:#f9fcfd;
 
	border-top:1px solid #DDD;	
    padding-top:1em;

}

footer p {
	font-family: 'Avenir-Light';
	color:#333;
	font-size:1em;
}

.fbRow {
	padding-top:1em;	
}

.fbRow p {
	font-family: 'Avenir-Medium';
	color:#345c9a;
	margin-bottom:0;
	padding-bottom:.5em;
	font-size:1.250em;
}
