/* BetterCapture v1.0 */

/* 
  
  Colors
  
  teal/blue = #8cafc1
  
*/
* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em; 
	min-width:1300px !important; 
}

.container-fluid {
position: relative;
min-width: 1300px !important;
padding-left: 20px;
padding-right: 20px;
zoom: 1;
}
footer, .push {
	height: 4em;  
	clear: both;
}
 
.betterCapture {
	background:url(/assets/images/mainBg.jpg) repeat top left;
}


.betterCapture header .navbar {
	border-radius:0 ;
	min-height: 60px;
	margin-bottom:0;
	
}

.betterCapture .navbar-default {
	background:url(/assets/images/headerBg.jpg) repeat-x left center;
	border-bottom:1px solid #dedfe0 ;
	
}

.logo {
	width:220px;
	margin-top: -4px;
		
}

.userIcon {
	width:30px;	
}
.register {
	background:#8cafc1;
	height:60px;
	width:160px;
	
}
.register-dropdown {
	background:#8cafc1;
	height:60px;
	width:200px;
}
.register-dropdown:hover {
	background:#85a7b9;
}
.register-dropdown .dropdown-toggle {
padding-top: 1.5em;
}
.register-dropdown .dropdown-menu {
	background:#85a7b9;
	border:none;
}
.dropdown-menu .darkDiv{
	background:#7ea0b2;	
	margin:0;
	margin-bottom:6px;
}
.dropdown-menu .lightDiv {
	background:#8cafc1;
	 margin:0;
	 margin-top:6px;
	
}
.register-dropdown  img {
	max-width:20px;	
}
.register-dropdown .dropdown-menu>li>a {

 font-family: 'AvenirLTStd-Book';
 
 color:#e0f4ff;
}

.register-dropdown .dropdown-menu>li>a:hover {
	
	background:none;	
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
 
color: #fff;
background: none;
}


.navbar-default .navbar-nav > li >a, .navbar-default .navbar-nav > li >a:hover {
	font-family: 'AvenirLTStd-Book';
	color:#FFF;
	font-size:1em;
}
.navbar-collapse {
	padding-right:0px;
}

.container-fluid {
	/*padding-right:0px;*/
	min-width:1300px !important;
}


.navbar-nav.navbar-right:last-child { 
	margin-right:0;		 
}


.mainSection {
	border-top:1px solid #f8fafa;
	padding-top:1em;
}
.formCol {
	width:390px;
	 
}

.formWrap {
	background:#f9fcfd;
    width:100%;
	height:315px;
	border-radius:4px;
	padding-top:1.8em;
	-webkit-box-shadow: 0px 0px 0px 1px rgba(228,229,231,0.59);
	-moz-box-shadow: 0px 0px 0px 1px rgba(228,229,231,0.59);
	box-shadow: 0px 0px 0px 1px rgba(228,229,231,0.59);
}

h3.formHeader {
	color:#444;
	font-family: 'AvenirLTStd-Heavy';
	font-size:1.4em;
	text-align:center;
	padding-bottom:.5em;
	text-transform:uppercase;
}

.formWrap .form-group label {
	font-family: 'Avenir-Medium';
	font-size:1.2em;
	color:#444;
	font-weight:normal;
}

.formWrap input[type="email"],.formWrap input[type="password"]  {
	height:45px;
	background:#FFF;
	border-radius:0px;
	width:315px;
	font-family: 'AvenirLTStd-LightOblique';
	font-size:1em;
	border:none;
	box-shadow:0 0 0;
	border:1px solid #E7E4E4;
}

.formWrap .form-group{
	padding-left:2.3em;
}

.forgotPass a, div.checkbox label{
	font-family: 'AvenirLTStd-Book';
	color:#3fb58e;
}


.formWrap .checkbox {
  margin-top:  0px; 
}
.forgotPass  {
	padding-left:2em;	
}

.formWrap button{
	color:#FFF;
	text-transform:uppercase;
	font-family: 'AvenirLTStd-Heavy';
	
}

.greenBtn, .greenBtn:hover {
	background:#3fb58e;	
	border:1px solid #379e7c;
	width:315px;
	font-size:1.4em;
	height:45px;
	border-radius:2px;
	color:#FFF;
	
}

footer {
 background:#f9fcfd;
 border-top:1px solid #dddfdf;
 height: 60px;
 
}

.navbar-fixed-bottom {
	background:#f9fcfd;
}


.footerLinks {
	padding-top:1em;
}
.footerLinks li {
	list-style:none;
	display:inline-block;
	 
	padding-left:.5em;
	
	
}

.footerLinks li a{
	font-family: 'Avenir-Light';
	color:#999999;
}

.footerLinks li a span {
	padding-left:.5em;	
}
.footerLinks li a:hover{
	text-decoration:none;
}

.helpBtn {
	font-family: 'AvenirLTStd-Book';
	color:#FFF;
	font-size:1em;
}


.helpBtn {
background: transparent url(/assets/images/helpBtn.png) no-repeat scroll 0px 0px;
height: 50px;
right: 1%;
position: fixed;
bottom: 0%;
width: 159px;
z-index:5000;
}


.helpBtn a {
display: block;
height: 50px;
width: 159px;
}

div.wrap, .navbar-fixed-bottom {
	min-width:1300px !important;	
}

li.mainLink {
	margin-top: .5em;
}

li.mainLink a {
	color:#3fb58e !important;
	font-family: 'AvenirLTStd-Heavy' !important;
	font-size:1.1em !important;
	text-transform:uppercase;
	margin-right:.5em;
	padding-top:.7em;
	padding-bottom:.7em;
	
}

li.mainLink a:hover {
	background:#eee !important;
	 
	border-radius:5px !important;
}

li.mainLink a.current {
	background:#3fb58e !important;
	color:#FFF !important;
	border-radius:5px !important;
}

.filterBar {
	background:#fbfbfb;
	min-height: 40px;
	border-bottom:1px solid #e0e0e0;
	padding-top:.8em;
}

h1.pageTitle {
	margin:0;	
	font-family: 'AvenirLTStd-Heavy' !important;
	font-size:1.4em !important;
	text-transform:uppercase;
	color:#444444;
	padding-top:.5em;
	
	
}

.filterForm label{
	font-family: 'AvenirLTStd-Heavy' !important;
	color:#444444;
	font-size:1.2em;
	padding-top:.2em;
}

.filterForm select {
	height:45px;
	background:#FFF;
	border-radius:4px;
    font-family: 'AvenirLTStd-LightOblique';
	font-size:1em;
	border:none;
	box-shadow:0 0 0;
	border:1px solid #E7E4E4;
	width:100%;
	
}

p.videoDesc {
	color:#555555;
	font-family: 'AvenirLTStd-Book';
}

h3.videoTitle {
	font-family: 'Avenir-Medium';
	color:#444444;
	font-size:1.4em;
	margin-top: 5px;
}

h3.videoTitle a{
	font-family: 'Avenir-Medium';
	color:#444444;
 
	 
}

p.timeStamp {
	font-family: 'AvenirLTStd-Book';
	color:#FFF;
	font-size:1em;
	
}

p.timeStamp span {
    background:#8cafc1;	
	padding:.2em .4em .2em .4em;
}

.vidThumb {
	background:#FFF;
	padding-top:1em;
	padding-bottom:1em;
	border-right:1px solid #dedfe0;
	border-radius: 5px 0px 0px 5px;
	 
}
.vidThumb img {
	 width:250px ;
	display:inline-block;
}

.videoData {
	padding: 0;
	padding:1.2em;
	height: 215px;
	
   
}
.videoDataWrap {
	 padding: 0;
	 background:#f9fcfd;
	 border-radius: 0px 5px 5px 0px;
}
.videoCol {
	border:1px solid #dedfe0;	
	padding:0;
	width:49.3%;
	border-radius:4px;
	margin-left:.6em;
}

.leftSpace {
	margin-left:1%;	
}

.mainVidRow {
	 padding-left:1em;
	 padding-right:1em;	
	 margin-bottom:1em;
}
.videoControls {
	border-radius:4px;
	 	
}
.videoControls .btn{
	background:#f0f3f4 !important;
	font-family: 'AvenirLTStd-Heavy'  !important;
	color:#67b59b;
	font-weight:normal;
	font-size:1em;
	padding-top:.7em;
	padding-bottom:.7em;
	 
	
}
.videoControls .btn:hover{
  background:#67b59b !important;
  color:#FFF;
}

.videoControls .btn-default {
	border:1px solid #67b59b;
}
 
.videoControls .rLightBorder {
	
	border-right:1px solid #b9dad0;	
}

.videoControls .lLightBorder {
	border-left:1px solid #b9dad0;
}

.pagination>li>a, .pagination>li>span {
	position: relative;
	float: left;
	padding: 6px 12px;
	line-height: 1.42857143;
	text-decoration: none;
	color: #555;
	background-color: #f0f3f4;
	border: 1px solid #e3e3e4;
	margin-left: -1px;
	font-family: 'AvenirLTStd-Heavy';
}

.pagination>li>a:hover, .pagination>li>span {
	color:#67b59b;
}
.pagination>.active>a {
	background-color: #67b59b;
	border-color:#67b59b;
}

.panel-default>.panel-heading {
	background:#f0f3f4;
	border-color: #d5d7d8;
}


h3.panel-title {
	font-family: 'AvenirLTStd-Heavy';
	font-size:1em;
	font-weight:normal;
	color:#333333;
}



.panel {
	margin-bottom: 20px;
	background: #f9fcfd;
	border: 1px solid #d5d7d8;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.editTabs a{
	font-family: 'AvenirLTStd-Heavy';
	font-size:1em;
	font-weight:normal;
	color:#3fb58e;
	width:100%;
	min-width:125px;
	
}
.editTabs>li>a:hover {
	 background:#fff;
	 border-top-color:#ddd;
	border-right-color: #DDD;
}
.editTabs>li.active>a, .editTabs>li.active>a:hover, .editTabs>li.active>a:focus {
	color:#3fb58e;
	background-color:#f9fcfd;
	border: 1px solid transparent;
	border-bottom-color: transparent;
	cursor: default;
	border-top-color:#ddd;
	border-right-color: #DDD;
}
.editTabs li a{
	background:#f0f3f4;
	border: 1px solid #ddd;
	margin:0;
	margin-right:0;
	 
	border-left:none;
	border-radius:0;
	border-right:1px solid #ddd;
}
 .editContent {
	border: 1px solid #ddd;
	border-top:none; 
 }
.editContent .tab-pane {
	background:#f9fcfd;
	padding:2em;
}

.editTabs li a.borderLeft {
	border-left:1px solid #ddd !important;
}

.editTabs li a.borderRight {
	border-right: 1px solid #DDD !important;
}
.editContent label {
	font-family: 'Avenir-Medium';
	font-size:1.2em;
	color:#444;
	font-weight:normal;
}

.editContent input {
	height:45px;
	background:#FFF;
	border-radius:0px;
	font-family: 'Avenir-Roman';
	font-size:1em;
	border:none;
	box-shadow:0 0 0;
	border:1px solid #E7E4E4;
	color:#777777;
}
 
.editContent .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
	height:45px;
	line-height: 1.9em;
}   

.editContent .btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) {
	height:45px;
	line-height: 1.9em;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
	background:#f8666d;
}


.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
	background:#3fb58e;
	
	
}
 
label.btn-danger {
	
	background-color: #fff;
	border:1px solid #ccc;
	color:#444;
}

label.btn-success {
	background-color: #fff;
	border:1px solid #ccc;
	color:#444; 
}

 
label.active {
/*
color:#FFF;
	border: #ac2925;
	background:#f8666d;
	
	color:#FFF;
	border:1px solid #398439;
	background:#3fb58e;
	*/
 
	
}

.input-group-addon {
background:#fbfbfb;
font-family: 'Avenir-Roman';
}

.submitPanel .btn {
	background:#f0f3f4;
	border-color:#3fb58e;
	border-radius:4px;
	color:#3fb58e;
	font-family: 'AvenirLTStd-Heavy';
	text-transform:uppercase;
	font-weight:normal;
	width:200px;
	font-size:1.2em;
}
.submitPanel .btn:hover {
	background:#3fb58e;
	color:#FFF;
	
}
.submitPanel  {
	background:#FFF;
	border-top:1px solid #ebedee;
	padding-top:1.5em;
	padding-bottom:1.5em;
}

.settingsContent {
	background:#f9fcfd;
	border:1px solid #dee0e1;
	border-left:none;
	padding:2em;
	min-height:300px;
}
.settingsNav {
	min-height:300px;
	border:1px solid #dee0e1;
	border-right:none;
}
 .settingsNav>li {
	 margin:0;
	
 }
.settingsNav>li+li {
margin:0;
margin-left: 0;
}
 .settingsNav>li>a {
	font-family: 'AvenirLTStd-Heavy';
	color:#3fb58e; 
	font-size:1em;
	font-weight:normal;
	border-radius:2px;
	border:1px solid #cdd0d1;
	margin:0;
	border-left:none;
	min-height:50px;
	padding-top:1em;
	border-bottom:0;
}
.settingsNav>li.active>a, .settingsNav>li.active>a:hover, .settingsNav>li.active>a:focus {
	color:#3fb58e; 
	background-color:#f9fcfd;
	border-right:1px solid #f9fcfd;
}
.settingsContent label {
	font-family: 'Avenir-Medium';
	font-size:1.2em;
	color:#444;
	font-weight:normal;
}
.settingsContent input[type=text], .settingsContent input[type=password] {
	height:45px;
	background:url(/assets/images/pencilIcon.jpg) no-repeat 96% center #FFF;
	border-radius:0px;
	font-family: 'Avenir-Roman';
	font-size:1em;
	border:none;
	box-shadow:0 0 0;
	border:1px solid #E7E4E4;
	color:#777777;
}
.settingsSubmit {
	border:none;
	background:none;	
}
.settingsSubmit .btn {
	width:100%;	
}
.registerWrap {
	padding:1em;	
	background:#f9fcfd;
    border-radius:4px;
	padding-top:1.8em;
	-webkit-box-shadow: 0px 0px 0px 1px rgba(228,229,231,0.59);
	-moz-box-shadow: 0px 0px 0px 1px rgba(228,229,231,0.59);
	box-shadow: 0px 0px 0px 1px rgba(228,229,231,0.59);
}
.registerWrap label {
	font-family: 'Avenir-Medium';
	font-size:1.2em;
	color:#444;
	font-weight:normal;
}
.registerWrap input[type=text],.registerWrap input[type=password], .registerWrap select {
	height:45px;
	background:#FFF;
	border-radius:0px;
    width:100%;
	font-family: 'AvenirLTStd-LightOblique';
	font-size:1em;
	border:none;
	box-shadow:0 0 0;
	border:1px solid #E7E4E4;
}
 
label.middleBtn {
	 height: 45px !important;
	 line-height: 1.9em !important;
}

code {
	 white-space: pre-line;
}

.panel-body {
	padding:0;
	padding: 8px;
}

.addvid {
	font-family: 'AvenirLTStd-Heavy';
	color:#333;
}
.addvid a {
	color: #3fb58e;
	text-decoration:underline;
}

.helpBtn a, .helpBtn{
	display:none;
	}

.projects li:hover {
	cursor:pointer;
	background:#EEE;	
}



.error ::-webkit-input-placeholder {
   color: red;
}


#emailSelect, select {
height: 45px !important;
background: #FFF !important;
border-radius: 0px !important;
width: 100%;
font-family: 'AvenirLTStd-LightOblique' !important;
font-size: 1em !important;
border: none !important;
box-shadow: 0 0 0 !important;
border: 1px solid #E7E4E4 !important;
}

a#cmClientLink {
	font-size:.9em !important;
	font-family: 'Avenir-Medium';
	font-weight:normal;	
	color: #3fb58e;
}

.logoBlock {
	padding-top:.8em;
	padding-bottom:.8em;
	height:120px;
	opacity:.8;
}
.logoBlock:hover {
	opacity:1;
}
.logoBlock img {
	max-width:200px;	
}
.logoBlock img.is {
	margin-top:.5em;
	margin-bottom:.8em;	
}
.logoBlock img.cm {
	 
	margin-bottom:.8em;	
}

.logoBlock img.cc {
	margin-top:.8em;
	margin-bottom:.9em;	
}
.logoBlock button, .logoBlock a{
	width:150px !important;
	border-radius:2px;
	background: #3fb58e;
	border: 1px solid #379e7c;
	font-family: 'Avenir-Medium';
	color:#FFF;
	font-size:1.2em;
}

.logoBlock button:hover, .logoBlock a:hover {
	background: #3fb58e;
	border: 1px solid #379e7c;
	color:#FFF;
}

.api p {
	font-family: 'Avenir-Medium';
	color:#444;
	font-size:1.4em;
}


.addCat, .addCat:hover {
	background:#3fb58e;	
	border:1px solid #379e7c;
	 
	font-size:1.4em;
	height:45px;
	border-radius:2px;
	color:#FFF;
	
}

.analtyic_totals {
	padding-top:3em;
}
.analtyic_totals .col-md-2 {
	border-right:1px solid #dedfe0;	
}
.analtyic_totals h1 {
	color:#3fb58e !important;
	font-family: 'AvenirLTStd-Heavy';
	font-size:3.4em !important;
	
}
h5.analtyic_totals_title {
	font-family: 'AvenirLTStd-Heavy';
	color:#333;
	font-size:1.4em !important;
	
}
.border-none {
	border:none !important;	
}
div.analtyics_wrap {
	background:#f9fcfd;	
	height:700px;
	border-radius:.4em;
	border:1px solid #dedfe0;
	border-top:none !important;
}

.selectFilterRow {
	padding-top:.5em;
	padding-bottom:.5em;	
	border-bottom:1px solid #dedfe0;
	background:#fff;	
}
.selectFilterRow .col-md-4 {
	 
}
.selectFilterRow input, .selectFilterRow select{
	background:#FFF  ;
	border-radius:.2em !important;
	border:1px solid #379e7c !important;
	height:40px !important;
	width:260px !important;
	padding-left:.5em;
	
}

.selectFilterRow label {
	color:#3fb58e;
}

.selectFilterRow input {
	 
	background:url(/assets/images/calIcon.jpg) no-repeat 96% center #FFF;
}
.selectFilterRow h2{
	font-family: 'AvenirLTStd-Heavy';
	color:#333;
	font-size:1.4em !important;
	padding-top:.5em;	
}

.selectFilterRow .form-group {
	padding-top:1.5em;	
}
