@font-face {
	font-family: 'AvenirLTStd-Heavy';
	src: url("http://dev.bettercapture.com/assets/fonts/AvenirLTStd-Heavy.eot");
	src: url("http://dev.bettercapture.com/assets/fonts/AvenirLTStd-Heavy?#iefix") format("embedded-opentype"),url("http://dev.bettercapture.com/assets/fonts/AvenirLTStd-Heavy.woff") format("woff"),url("http://dev.bettercapture.com/assets/fonts/AvenirLTStd-Heavy.ttf") format("truetype");
}

@font-face {
	font-family: 'AvenirLTStd-LightOblique';
	src: url("http://dev.bettercapture.com/assets/fonts/AvenirLTStd-LightOblique.eot");
	src: url("http://dev.bettercapture.com/assets/fonts/AvenirLTStd-LightOblique?#iefix") format("embedded-opentype"),url("http://dev.bettercapture.com/assets/fonts/AvenirLTStd-LightOblique.woff") format("woff"),url("http://dev.bettercapture.com/assets/fonts/AvenirLTStd-LightOblique.ttf") format("truetype");
}
@font-face {
	font-family: 'AvenirLTStd-Book';
	src: url("http://dev.bettercapture.com/assets/fonts/AvenirLTStd-Book.eot");
	src: url("http://dev.bettercapture.com/assets/fonts/AvenirLTStd-Book?#iefix") format("embedded-opentype"),url("http://dev.bettercapture.com/assets/fonts/AvenirLTStd-Book.woff") format("woff"),url("http://dev.bettercapture.com/assets/fonts/AvenirLTStd-Book.ttf") format("truetype");
}

.widget_content{margin:0;padding:0;}
.player { margin:0;}
body { margin:0;}
	 
	 
	 
div#cta {
	
}  

 
	
	

	 
	 
.button {
cursor: pointer;
font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
font-weight: normal;
line-height: normal;
margin: 0 0 1.25rem;
position: relative;
text-decoration: none;
text-align: center;
display: inline-block;
padding-top: 1rem;
padding-right: 2rem;
padding-bottom: 1.0625rem;
padding-left: 2rem;
font-size: 1rem;
background-color: #008cba;
border-color: #0079a1;
color: #fff;
-webkit-transition: background-color 300ms ease-out;
-moz-transition: background-color 300ms ease-out;
transition: background-color 300ms ease-out;
padding-top: 1.0625rem;
padding-bottom: 1rem;
-webkit-appearance: none;
border: none;
font-weight: normal !important;
} 
 



div#betterCaptureOpt {
	position:absolute;
	width:100%;	
	height:100%;	
	top:0;
	padding:0;
	left:0%;
	background:url(http://dev.bettercapture.com/assets/images/optinCover.png) repeat 0 0;
	
}
div#betterCaptureFormWrap {
	margin:20% auto;	
	width: 80%;
}

div#betterCaptureOpt form {
	background: transparent;
	margin-bottom: 0;
		
}

div#betterCaptureOpt input[type="email"] {
	height:45px;
	background:#FFF;
	border-radius:4px;
	width: 75%;
	font-family: 'AvenirLTStd-LightOblique';
	font-size:1em;
	border:none;
	box-shadow:0 0 0;
	border:1px solid #E7E4E4;
	padding-left:.5em;
}

div#betterCaptureOpt button {
	background:#3fb58e;
	color:#FFF;
	text-transform:uppercase;
    font-family: 'AvenirLTStd-Heavy';
	border-radius:4px;
	font-weight: normal !important;
	border:none;
	cursor:pointer;
	height:45px;
	width:20%;
	font-size:1.2em;
	margin-left:.5em;
}

h5#betterCaptureFormTitle {
	font-family: 'AvenirLTStd-Book';
	color:#FFF;
	text-align:center;
	font-size:1.5em;
	margin:0;
	margin-bottom:.5em;
	font-weight:normal !important;
	
}



div#betterCaptureCta {
	background:#f8757b;
	position: absolute;
	z-index:50000;	
	bottom:0px;
	text-align: center;
	width:100%;
	padding-top:.9em;
	padding-bottom:.9em;
 
	 
	
}

div#betterCaptureCta a {
	font-family: 'AvenirLTStd-Book';
	color:#FFF;
	font-size:1.4em;
	font-weight:normal !important;
	text-decoration:none;
}
div#betterCaptureCta a:hover {
	text-decoration:underline;
}

a#betterCaptureSkip  {
	display:inline-block;
	width:56px;
	height:17px;
	background:url(http://dev.bettercapture.com/assets/images/skipBtn.png) no-repeat 0 0;
	/*position: absolute;
	z-index:50000;	
	margin-top:37%;
	margin-left:10%;*/
		
	
	
}

#betterCaptureMinCta {
	 
	margin-right:.5em;
	top:0;
	position:absolute;
	right:0;	
}
#betterCaptureMaxCta {
	font-size:35px;
	color:#FFF;	
	position:absolute;
	bottom:35px;
	left:5px;
	font-family: 'AvenirLTStd-Heavy';
	text-decoration:none;
}


#betterCaptureLogo a{
	position:absolute;
	right:5px;
	top:5px;
	display:inline-block;
	width:127px;
	height:25px;
	background:url(http://dev.bettercapture.com/assets/images/watermark.png) no-repeat 0 0;
	opacity:0.7;
}

#betterCaptureLogo a:hover {
	opacity:1;
}

.error input:-moz-placeholder{
color:red;
}

.deletedVideo {
	background:#F6F7F9;	
	padding:1.5em 1em;
	text-align:center;
	border-radius:4px;
	max-width:250px;
	margin:0 auto;
	
}

.deletedVideo img{
	max-width:200px;
}

.deletedVideo p {
	color:#444;
	font-family: 'AvenirLTStd-Book';	
}
