
@font-face {
	font-family: 'AvenirLTStd-Heavy';
	src: url("/assets/fonts/AvenirLTStd-Heavy.eot");
	src: url("/assets/fonts/AvenirLTStd-Heavy?#iefix") format("embedded-opentype"),url("/assets/fonts/AvenirLTStd-Heavy.woff") format("woff"),url("/assets/fonts/AvenirLTStd-Heavy.ttf") format("truetype");
}
@font-face {
	font-family: 'Avenir-Roman';
	src: url("/assets/fonts/Avenir-Roman.eot");
	src: url("/assets/fonts/Avenir-Roman?#iefix") format("embedded-opentype"),url("/assets/fonts/Avenir-Roman.woff") format("woff"),url("/assets/fonts/Avenir-Roman.ttf") format("truetype");
}
@font-face {
	font-family: 'Avenir-Light';
	src: url("/assets/fonts/Avenir-Light.eot");
	src: url("/assets/fonts/Avenir-Light?#iefix") format("embedded-opentype"),url("/assets/fonts/Avenir-Light.woff") format("woff"),url("/assets/fonts/Avenir-Light.ttf") format("truetype");
}
@font-face {
	font-family: 'AvenirLTStd-LightOblique';
	src: url("/assets/fonts/AvenirLTStd-LightOblique.eot");
	src: url("/assets/fonts/AvenirLTStd-LightOblique?#iefix") format("embedded-opentype"),url("/assets/fonts/AvenirLTStd-LightOblique.woff") format("woff"),url("/assets/fonts/AvenirLTStd-LightOblique.ttf") format("truetype");
}

@font-face {
	font-family: 'Avenir-Medium';
	src: url("/assets/fonts/Avenir-Medium.eot");
	src: url("/assets/fonts/Avenir-Medium?#iefix") format("embedded-opentype"),url("/assets/fonts/Avenir-Medium.woff") format("woff"),url("/assets/fonts/Avenir-Medium.ttf") format("truetype");
}
@font-face {
	font-family: 'Avenir-MediumOblique';
	src: url("/assets/fonts/Avenir-MediumOblique.eot");
	src: url("/assets/fonts/Avenir-MediumOblique?#iefix") format("embedded-opentype"),url("/assets/fonts/Avenir-MediumOblique.woff") format("woff"),url("/assets/fonts/Avenir-MediumOblique.ttf") format("truetype");
}

@font-face {
	font-family: 'Avenir-Black';
	src: url("/assets/fonts/Avenir-Black.eot");
	src: url("/assets/fonts/Avenir-Black?#iefix") format("embedded-opentype"),url("/assets/fonts/Avenir-Black.woff") format("woff"),url("/assets/fonts/Avenir-Black.ttf") format("truetype");
}

@font-face {
	font-family: 'AvenirLTStd-HeavyOblique';
	src: url("/assets/fonts/AvenirLTStd-HeavyOblique.eot");
	src: url("/assets/fonts/AvenirLTStd-HeavyOblique?#iefix") format("embedded-opentype"),url("/assets/fonts/AvenirLTStd-HeavyOblique.woff") format("woff"),url("/assets/fonts/AvenirLTStd-HeavyOblique.ttf") format("truetype");
}
@font-face {
	font-family: 'AvenirLTStd-BookOblique';
	src: url("/assets/fonts/AvenirLTStd-BookOblique.eot");
	src: url("/assets/fonts/AvenirLTStd-BookOblique?#iefix") format("embedded-opentype"),url("/assets/fonts/AvenirLTStd-BookOblique.woff") format("woff"),url("/assets/fonts/AvenirLTStd-BookOblique.ttf") format("truetype");
}

@font-face {
	font-family: 'AvenirLTStd-BlackOblique';
	src: url("/assets/fonts/AvenirLTStd-BlackOblique.eot");
	src: url("/assets/fonts/AvenirLTStd-BlackOblique?#iefix") format("embedded-opentype"),url("/assets/fonts/AvenirLTStd-BlackOblique.woff") format("woff"),url("/assets/fonts/AvenirLTStd-BlackOblique.ttf") format("truetype");
}

@font-face {
	font-family: 'AvenirLTStd-Book';
	src: url("/assets/fonts/AvenirLTStd-Book.eot");
	src: url("/assets/fonts/AvenirLTStd-Book?#iefix") format("embedded-opentype"),url("/assets/fonts/AvenirLTStd-Book.woff") format("woff"),url("/assets/fonts/AvenirLTStd-Book.ttf") format("truetype");
}